/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#top-menu {
	width: 100%;
	height: 50px;
	background-color: #339966;
	margin: 0;
	padding: 0;
}

ul.menu {
	display: inline;
	list-style-type: none;
	width: 500px;
	margin: 0 auto;
	padding: 0;
}

ul.menu li {
	margin: 0 auto;
	padding: 0;
}

ul.menu li a {
	display: inline;
	float: left;
	max-height: 50px;
	width: 100px;
	margin: 0 auto;
	margin-top: 7px;
	padding-left: 200px;
	padding-top: 5px;
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: 500;
	text-align: center;
	background-color: #339966;
	text-decoration: none;
	color: #ffffff;
}

h1{
	font-family: "Helvetica";
	font-size: 10pt;
	text-transform: uppercase;
	font: bold;
	color: #339966;
	margin-top: 0;
	padding-top: 5px;
	
}

h3 {
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
	text-align: left;
	
}

#h3 {
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: 400;
	color: #333333;
	text-align: left;
	clear: both;
	float: left;
	
}

#h3list {
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: 400;
	color: #333333;
	text-align: left;
	clear: left;
	float: right;
}

#Callus {
	text-align: center;
	font-family: helvetica;
	font-size: 36pt;
	font: bold;
	color: #339966;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#ded {
	text-align: center;
	font-family: helvetica;
	font-size: 16pt;
	color: #339966;
	margin-top: 3px;
	margin-bottom: 0;
	padding: 0;
}

#Serv {
	text-align: center;
	font-family: helvetica;
	font-size: 14pt;
	font: bold;
	color: #339966;
	letter-spacing: 10px;
	word-spacing: 20px;
	text-transform: uppercase;
	
}

#days {
	text-align: right;
	font-family: "Open Sans";
	font-size: 14pt;
	color: black;
	
}

#tel {
	text-align: right;
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: bold;
	color: black;
}

#one {
	text-align: right;
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: bold;
	color: #339966;
}


/* .Rounded_Rectangle_6 {
clear: both;
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(63,80,125) 0%, rgb(80,107,161) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(63,80,125) 0%, rgb(80,107,161) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(63,80,125) 0%, rgb(80,107,161) 100%);
  position: absolute;
  left: 210px;
  top: 612px;
  width: 981px;
  height: 52px;
  z-index: 80;
} */

#fb {
  font-size: 20px;
  font-family: "Helvetica";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  position: absolute;
  left: 435px;
  top: 627.803px;
  z-index: 83;
}

#heat{
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 30pt;
	color: #cc3333;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	
}

p.hpara {
	font-family: "Open Sans";
	font-size: 14pt;
	font-weight: 400;
	color: #333333;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0; 
    width: 1000px;

}

#coolio {
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 30pt;
	color: #3399cc;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

#aboot {
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 30pt;
	color: #333333;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	
}

div.bot {
	background-color: #eef1f5;
	clear: both;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 20px;
	padding-top: 0;
}

div.mid {
	background-color: #eef1f5;
	background-size: 500px 1400px;
	margin-bottom: 75px;
	padding-bottom: 0;
	padding-top: 1px;
	margin-top: 0px;
}

img.logos {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cutapart .crow {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0;
	padding-bottom: 0;
	width:55%;
}
.cutapart img { 
	display: block;
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	padding-bottom: 0;
	padding-left: 40px;
	
}

p.clear {
	clear:both
}

#emplogo {
	margin-bottom: 0;
	margin-top: 10px;
	padding-bottom: 0;
	padding-top: 0;
	
}

#vid {
	position: relative;
	left: 35%;
	margin-left: auto;
	margin-right: auto;
}

#topbox {
	float: left;
}

#telefono {
	float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
